.button {
  display: inline-flex;
  align-items: center;
  height: var(--input-height);
  padding: 12px;
  color: var(--color-mint);
  background-color: var(--color-blue-1);
  border: 1px solid var(--color-dark-1);
  border-radius: var(--border-radius);
    cursor: pointer;
    touch-action: auto;

    &:hover {
    color: var(--color-blue-1);
    background-color: transparent;
  }

  &:active {
    transition-duration: 0.03s;
      transform: scale(1.25);
  }
}
